In [2]:
import pandas as pd

In [3]:
ZomatoData = pd.read_csv('zomato.csv')
ZomatoData = ZomatoData.drop_duplicates().reset_index(drop=True)

In [10]:
ZomatoData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9351 entries, 0 to 9350
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9351 non-null   int64
 1   Restaurant Name       9351 non-null   object
 2   Country Code          9351 non-null   int64
 3   City                  9351 non-null   object
 4   Address               9351 non-null   object
 5   Locality              9351 non-null   object
 6   Locality Verbose      9351 non-null   object
 7   Longitude             9351 non-null   float64
 8   Latitude              9351 non-null   float64
 9   Cuisines              9351 non-null   object
 10  Average Cost for two  9351 non-null   int64
 11  Currency              9351 non-null   object
 12  Has Table booking     9351 non-null   int64
 13  Has Online delivery   9351 non-null   int64
 14  Is delivering now     9351 non-null   int64
 15  Switch to order menu  9351 non-null   int64
 16  Price range           9351 non-null   int64
 17  Aggregate rating      9351 non-null   float64
 18  Rating color          9351 non-null   object
 19  Rating text           9351 non-null   object
 20  Votes                 9351 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 1.5+ MB

In [19]:
ZomatoData[(ZomatoData["Average Cost for two"] < 300) & (ZomatoData["City"] == "Pune")]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
9105,12009,Kayani Bakery,1,Pune,"6, DEH, Koyani Road, Camp, East Street, Pune",East Street,"East Street, Pune",73.879831,18.514863,Bakery,...,Indian Rupees(Rs.),0,1,0,0,1,4.5,3F7E00,Excellent,4379