In [4]:
import pandas as pd

In [12]:
ZomatoData = pd.read_csv('zomato.csv')
ZomatoData = ZomatoData.drop_duplicates().reset_index(drop=True)

In [16]:
ZomatoData.City.value_counts()

New Delhi       5481
Gurgaon         1117
Noida           1080
Faridabad        251
Mysore            40
Amritsar          40
Patna             40
Aurangabad        40
Mumbai            40
Bhubaneshwar      40
Mangalore         40
Ranchi            40
Allahabad         40
Ludhiana          39
Vadodara          39
Vizag             39
Varanasi          39
Puducherry        39
Dehradun          39
Nagpur            39
Kanpur            39
Agra              39
Kochi             38
Lucknow           38
Surat             38
Indore            38
Hyderabad         37
Bangalore         37
Chennai           37
Jaipur            37
Guwahati          37
Coimbatore        37
Ahmedabad         37
Kolkata           36
Nashik            36
Pune              36
Bhopal            34
Goa               32
Chandigarh        29
Ghaziabad         25
Gangtok           20
Ooty              20
Shimla            20
Mohali             6
Secunderabad       2
Panchkula          2
Nasik              2
Name: City, dtype: int64

In [13]:
ZomatoData.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,3400025,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",...,Indian Rupees(Rs.),0,0,0,0,3,3.9,9ACD32,Good,140
1,3400341,Rangrezz Restaurant,1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,"North Indian, Mughlai",...,Indian Rupees(Rs.),0,0,0,0,2,3.5,9ACD32,Good,71
2,3400005,Time2Eat - Mama Chicken,1,Agra,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra Cantt,"Agra Cantt, Agra",78.011608,27.160832,North Indian,...,Indian Rupees(Rs.),0,0,0,0,2,3.6,9ACD32,Good,94
3,3400005,Mama Chicken Mama Franky House,1,Agra,"A-17, Shoping Arcade, Sadar Bazaar, Agra Cantt...",Agra Cantt,"Agra Cantt, Agra",78.011627,27.161854,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",...,Indian Rupees(Rs.),0,1,0,0,2,4.3,5BA829,Very Good,31399
4,3400021,Chokho Jeeman Marwari Jain Bhojanalya,1,Agra,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Civil Lines,"Civil Lines, Agra",77.998364,27.195759,Rajasthani,...,Indian Rupees(Rs.),0,1,0,0,2,4.5,3F7E00,Excellent,4944